
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 166, 216);
  color: white;
  padding: 10px;
}

.pages {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.pages a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}


.main-logo{
    border-radius: 50px;
}
